body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A2044;
    color: white;
    border-radius: 0px 0px 25px 25px;
    height: 65px;
    
}

body{
    background-color: rgb(39, 50, 114);
}

.left{
    font-size: 38px;
}
.right{
    font-size: 25px;
}

.lower{
    position: relative;
    font-size: 10px;
    top: 2px;
}

.right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
}
ul li{
    list-style: none;
    font-size: 25px;
    
}
/* headder ends heree ...................................................*/
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #a2e6ff;;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    width: 98%;
}

button {
    background-color: #a2e6ff;
    color: rgb(245, 245, 245);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}
.inputs{
background-color: white;
border-radius: 5px;
margin : 5px;

}
footer {
    background-color: #333;
    
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
